---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2; // links
$main-color-background: #212632; // background of navbar
$main-color-border:  #1c73a5; // background of navbar

$main-btn-bg-color: #323437;
$main-btn-border-color: #abb0b5;
$main-btn-text-color: #e8e9ee;

$main-btn-bg-color-hover: #14181e;
$main-btn-border-color-hover: #75797f;
$main-btn-text-color-hover: #8b9198; // inverted

$nav-dropdown-link-text-color: hsla(225,4%,82%,1);
$nav-dropdown-bg-color: #212634;
$nav-dropdown-bg-border: rgba(171,176,181,1);
$nav-dropdown-link-text-color-visited: #d5d6db;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$learn-more-btn-text-color-hover: #fcfdff;
$learn-more-btn-bg-color-hover: #373a3c;
$learn-more-btn-border-color-hover: #14181e;

$learn-more-btn-text-color: #fff;
$learn-more-btn-bg-color: #2f4560;
$learn-more-btn-border-color: #2f4560;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

@import "components/tags";
@import "components/highlight";

@import "bootstrap4/scss/bootstrap.scss";


a, a:visited {
    color: #344A6E;
}

pre {
    color: #e5e6eb;
    background-color: #373a3c;
}

.btn-block__avatar {
    position: relative;
    margin-right: 2.95px;
    top: -1.53px;
}

a.btn, a.btn:visited {
    color: white !important;
}

@mixin navbar-btn-highlighted() {
    color: $main-btn-text-color !important;
    background-color: $main-btn-bg-color !important;
    border-color: $main-btn-border-color !important;
}

.post-link {
    @include media-query($on-palm) {
        font-size: 18px;
    }
}

.post {
    &-header {
        @extend .post-header;

        &__title {
            @extend .post-title;
        }

        &__meta {
            @extend .post-meta;
        }

        &__tags {
            @extend .post-tags;
        }
    }
}

.page-content-container {
    @extend .container-fluid, .row;

    &__summary-column {
        @extend .col-lg-3, .hidden-xs-down;

        .summary {
            @extend .jumbotron;
            padding: 32px 32px !important;

            &__avatar {
                border-radius: .3rem;
                width: 100%;
            }

            &__accent {
                @extend .lead;

                &__button {
                    @extend .btn, .btn-primary, .btn-lg;
                    background-color: $learn-more-btn-bg-color;
                    color: $learn-more-btn-text-color;
                    border-color: $learn-more-btn-border-color;

                    &:hover {
                        background-color: $learn-more-btn-bg-color-hover;
                        color: $learn-more-btn-text-color-hover;
                        border-color: $learn-more-btn-border-color-hover;
                    }
                }
            }

            &__horizontal-line {
                margin-top: 1.5rem!important;
                margin-bottom: 1.5rem!important;
            }
        }
    }

    &__content-column {
        @extend .col-md-9;
    }
}

.page-navbar {
    @extend .navbar, .navbar-full, .navbar-dark, .bg-inverse;

    margin-bottom: 15px;
    background-color: $main-color-background !important;
    border-color: $main-color-border !important;
    color: #fff !important;

    .dropdown-menu {
        background-color: $nav-dropdown-bg-color;
        border-color: $nav-dropdown-bg-border;

        &:visited {
            color: $nav-dropdown-link-text-color-visited !important;
            text-decoration: none !important;
        }
    }

    &-dropdown-right-menu {
        @extend .dropdown-menu, .dropdown-menu-right;

        &__item, &__item:visited {
            @extend .dropdown-item;
            color: $nav-dropdown-link-text-color !important;
        }

        &__header {
            @extend .dropdown-header;
        }
    }

    &__mobile-toggler {
        @extend .navbar-toggler, .hidden-md-up;
    }

    &-content {
        @extend .navbar-toggleable-sm;

        &__brand {
            @extend .hidden-sm-down, .navbar-brand;
        }

        &__mobile-break {
            @extend .hidden-md-up;
        }

        &__menu {
            @extend .nav, .navbar-nav;

            &__item {
                @extend .nav-item;

                &>a {
                    @extend .nav-link;

                    span {
                        @extend .sr-only;
                    }
                }

                &--active {
                    @extend .active;
                }

                &--left {
                    @extend .hidden-sm-down;
                }

                &--mobile-only {
                    @extend .hidden-md-up;
                }
            }
        }

        &__right-menu {
            float: right;

            &__buttons {
                @extend .btn-group;

                svg {
                    position: relative;
                    top: 3px;
                    right: 2px;
                }

                &:focus {
                    outline-color: #4d4946;
                }

                &:first {
                    @extend .hidden-sm-down;
                }

                &.open>button {
                    @include navbar-btn-highlighted();
                }

                &>button {
                    @extend .btn, .btn-info, .dropdown-toggle;
                    border-radius: 4px !important;
                    color: $main-btn-text-color-hover;
                    background-color: $main-btn-bg-color-hover;
                    border-color: $main-btn-border-color-hover;

                    &:hover, &:focus, &:active, &:visited {
                        @include navbar-btn-highlighted();
                    }
                }
            }
        }
    }
}

.home {
    margin-top: 10px;
}

h1 {
    margin-bottom: 0.5em !important;
    @include media-query($on-palm) {
        font-size: 30px !important;
    }
}

h4 {
    margin-top: 2em !important;
    margin-bottom: 1em !important;
}

article {
    margin-top: 10px;
}

.token.atrule, .token.attr-value, .token.function {
    color: #ffeb3b;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #03a9f4;
}

.language-stylus {
    .token.property {
        color: #03a9f4;
    }
}

.highlighter-rouge .highlight {
    background: #2f3030;
    color: #e7e8ed;

    .kr {
        color: #bfbfbf;
    }

    .sr {
        color: #fdfdfc;
    }

    .nb {
        color: #ffeb3b;
    }

    .s1 {
        color: #03a9f4;
    }

    .nc {
        color: #fff;
    }

    .err {
        background-color: #2f3030;
        color: #8bc34a;
    }
}

html, body {
   overflow-x: hidden;
}
