@media screen and (max-width: 1280px) {
    header h1 {
        font-size: 30px;
    }

    header nav a {
        font-size: 20px;
    }

    div[role="career-logo"] {
        width: 200px;
        height: 200px;
        margin-top: -105px;
        margin-left: -100px;
    }

    div[role="register"] button {
        padding: 14px 38px;
        font-size: 22px;
    }

    #info > p {
        margin-top: 5px;
        font-size: 16px;
        max-width: 750px;
    }

    #info > p > strong {
        font-size: 18px;
    }

    #program {
        font-size: 14px;
    }

    #program > table > tbody > tr > td {
        padding: 3px 10px;
    }

    #speakers > p {
        font-size: 18px;
    }

    #speakers > p > strong {
        font-size: 22px;
    }

    #contacts > div {
        font-size: 18px;
        height: 120px;
        width: 350px;
        margin-top: 20px;
    }

    #contacts > div > img {
        width: 60px;
        height: 60px;
    }

    #partnerships > p {
        font-size: 18px;
        max-width: 700px;
        margin-top: 10px;
    }

    #partnerships > p:first-child {
        margin-top: 0px;
    }

    #partnerships > p > strong {
        font-size: 20px;
    }

    nav[role="partnerships"] img {
        height: 25px;
    }

    div[role="aiesec-logo"] {
        height: 40px;
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    header h1 {
        font-size: 24px;
    }

    header nav a {
        font-size: 18px;
    }

    div[role="career-logo"] {
        width: 200px;
        height: 200px;
        margin-top: -105px;
        margin-left: -100px;
    }

    div[role="register"] button {
        padding: 14px 38px;
        font-size: 22px;
    }

    #info > p {
        margin-top: 5px;
        font-size: 14px;
        max-width: 550px;
    }

    #info > p > strong {
        font-size: 16px;
    }

    #program {
        font-size: 12px;
    }

    #program > table > tbody > tr > td {
        padding: 3px 8px;
    }

    #speakers > p {
        font-size: 16px;
    }

    #speakers > p > strong {
        font-size: 20px;
    }

    #contacts > div {
        font-size: 14px;
        height: 100px;
        width: 250px;
        margin-top: 10px;
    }

    #contacts > div > img {
        width: 40px;
        height: 40px;
    }

    #partnerships > p {
        font-size: 16px;
        max-width: 500px;
        margin-top: 5px;
    }

    #partnerships > p:first-child {
        margin-top: 0px;
    }

    #partnerships > p > strong {
        font-size: 18px;
    }

    nav[role="partnerships"] img {
        height: 20px;
    }

    div[role="aiesec-logo"] {
        height: 35px;
        width: 200px;
    }
}

@media screen and (max-width: 980px) {
    // вроде всё ок тут
}