<nav class="page-navbar">
    <button class="page-navbar__mobile-toggler" type="button" 
        data-toggle="collapse" data-target="#page-navbar-content-main" 
        aria-controls="page-navbar-content-main" aria-expanded="false" 
        style="color: white" aria-label="Toggle navigation">
        &#9776;
    </button>
    <div class="page-navbar-content collapse" id="page-navbar-content-main">
        <a class="page-navbar-content__brand" href="/">{{ site.title }}</a>
        <ul class="page-navbar-content__menu">
            {% for menuitem in site.menu %}
            {% assign url = '/' | append: menuitem | append: '/' %}
            {% if url == '/home/' %}
                {% assign url = '/' %}
            {% endif %}
            <li class="page-navbar-content__menu__item page-navbar-content__menu__item--left{% if page.url == url %} page-navbar-content__menu__item--active{% endif %}">
                <a href="{{ url }}">
                    {{ menuitem | capitalize }}
                    {% if page.url == url %}<span>(current)</span>{% endif %}
                </a>
            </li>
            {% endfor %}
            <li class="page-navbar-content__menu__item page-navbar-content__menu__item--mobile-only">
                <a href="mailto:{{ site.email }}">
                    <img src="/images/mail-icon.png" alt="apple mail" 
                        width="24" height="24"> send an email
                </a>
            </li>
            <li class="page-navbar-content__menu__item page-navbar-content__menu__item--mobile-only">
                <a href="skype:{{ site.skype_username }}?chat">
                    <img src="/images/skype-icon.png" alt="skype" 
                        width="24" height="24"> start skype chat
                </a>
            </li>
            <li class="page-navbar-content__menu__item page-navbar-content__menu__item--mobile-only">
                <a href="facetime:{{ site.facetime_number }}">
                    <img src="/images/facetime-icon.png" alt="facetime" 
                        width="24" height="24"> make facetime call
                </a>
            </li>
            <li class="page-navbar-content__menu__item page-navbar-content__menu__item--mobile-only">
                <a href="tel:{{ site.phone_number }}">
                    <img src="/images/iphone-icon.png" alt="iphone" 
                        width="24" height="24"> {{ site.phone_number_pretty }}
                </a>
            </li>
        </ul>
        <div class="page-navbar-content__mobile-break"><br></div>
        <div class="page-navbar-content__right-menu">
            <div class="page-navbar-content__right-menu__buttons">
                <button type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                        Contact with Ivan
                </button>
                <div class="page-navbar-dropdown-right-menu">
                    <a class="page-navbar-dropdown-right-menu__item" href="mailto:{{ site.email }}"
                        data-toggle="tooltip" data-placement="left" 
                        title="click to open your email application">
                        <img src="/images/mail-icon.png" alt="apple mail" 
                            width="24" height="24"> send an email
                    </a>
                    <a class="page-navbar-dropdown-right-menu__item" href="skype:{{ site.skype_username }}?chat"
                        data-toggle="tooltip" data-placement="left" 
                        title="click to open your skype application">
                        <img src="/images/skype-icon.png" alt="skype" 
                            width="24" height="24"> start skype chat
                    </a>
                    <a class="page-navbar-dropdown-right-menu__item" href="facetime:{{ site.facetime_number }}"
                        data-toggle="tooltip" data-placement="left" 
                        title="click to open your facetime application">
                        <img src="/images/facetime-icon.png" alt="facetime" 
                            width="24" height="24"> make facetime call
                    </a>
                    <a class="page-navbar-dropdown-right-menu__item" href="tel:{{ site.phone_number }}"
                        data-toggle="tooltip" data-placement="left" 
                        title="ONLY for WORK moments, Russian number">
                        <img src="/images/iphone-icon.png" alt="iphone" 
                            width="24" height="24"> {{ site.phone_number_pretty }}&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            </div>

            <div class="page-navbar-content__right-menu__buttons">
                <button type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                        Ivan in global network
                </button>
                <div class="page-navbar-dropdown-right-menu">
                    <h6 class="page-navbar-dropdown-right-menu__header">Public Profiles</h6>
                    {% for network in site.public_profiles %}
                        {% unless network.visible == false %}
                        <a class="page-navbar-dropdown-right-menu__item" target="_blank" href="{{ network.url }}{{ network.username }}"
                            data-toggle="tooltip" data-placement="left" rel="nofollow"
                            title="click to open {{ network.title }} link in new tab">
                          <i class="fa fa-{% if network.icon %}{{ network.icon }}{% endif %}{% unless network.icon %}{{ network.title }}{% endunless %} fa-fw" aria-hidden="true" style="color: {{ network.color }}"></i> {{ network.title }} <span style="color: {{ network.color }}">@{{ network.username }}</span>
                        </a>
                        {% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>