@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900);
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

/*** #VARIABLES BEGIN ***/
@nav_top_height: 60px;
@nav_top_font_size: 20px;
/*** #VARIABLES END ***/

/*** #HTML5 ELEMENTS STYLE BEGIN ***/
* {
    margin: 0;
    padding: 0;
}

.loading {
    opacity: 0.001;
}

body {
    text-align: center;
    z-index: -1000;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5px;

    .loading * {
        transition: none !important;
    }
}
/*** #HTML5 ELEMENTS STYLE END ***/

/*** #PAGE ELEMENTS STYLE BEGIN ***/
nav[role="top"] {
    display: block;
    background-color: rgba(11, 11, 11, 0.4);
    height: @nav_top_height;
    width: 100%;
    position: fixed;
    z-index: 5000;

    h1 {
        float: left;
        color: #dddddd;
        padding-top: @nav_top_height/2 - @nav_top_font_size + 4;
        padding-left: 35px;
        font-weight: 900;
    }

    ul {
        list-style: none;
        float: right;

        li {
            display: inline-block;

            a {
                display: inline-block;
                height: (@nav_top_height/2 - @nav_top_font_size + 4) * 2 + 5;
                font-size: @nav_top_font_size;
                color: white;
                padding-top: @nav_top_height/2 - @nav_top_font_size + 4;
                padding-right: 35px;
                text-decoration: none;

                transition: top 0.3s, opacity 0.3s, transform 0.3s;
                transform: scale(1);

                &:hover {
                    transform: scale(0.85);
                }
            }
        }
    }
}

section[role~="fullscreen"] {
    width: 100%;
    padding-top: @nav_top_height + 4;
    position: relative;
    color: white;
}

#ave {
    background: url('images/overlay.png'), url('../images/background.jpg');
    background-size: 100%;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -110px;
        margin-top: -180px;
        color: white;
        font-size: 80px;
        display: block;
        background-color: rgba(00, 31, 63, 0.5);
        padding: 50px;
        border-radius: 200px;
        width: 200px;
        padding-top: 100px;
        padding-bottom: 100px;
        font-family: 'Verdana', sans-serif;
    }
}

#whoiam {
    background: linear-gradient(to bottom, rgba(44, 62, 80, 1) 0%, rgba(155, 89, 182, 1) 100%);

    img[role="avatar"] {
        float: left;
        margin: 10px;
        border-radius: 10px;
        margin-right: 20px;
        transition: top 0.3s, opacity 0.3s, transform 0.3s;

        &:hover {
            transform: rotate(5deg);
        }
    }

    p {
        font-size: 24px;
        text-align: left;
        margin: 20px;
        margin-top: 10px;
    }

    ul {
        font-size: 24px;
        text-align: left;
        margin: 10px;
        list-style-position: inside;
        list-style: none;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 20px;
        display: block;

        li {
            b {
                font-weight: 900;
                color: rgba(255, 255, 255, 0.8);
            }

            abbr {
                cursor: help;
                transition: top 0.3s, opacity 0.3s, transform 0.3s;
                display: inline-block;

                &:hover {
                    transform: skewY(-5deg);
                }
            }
        }
    }
}

#skills {
    background: linear-gradient(to bottom, rgba(155, 89, 182, 1) 0%, rgba(41, 128, 185, 1) 100%);

    p {
        background-color: rgba(255, 255, 255, 0.1);
        font-size: 30px;
        text-align: left;
        margin: 50px;
        padding: 40px;
        border-radius: 20px;
        font-family: 'Share Tech', sans-serif;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        margin-top: 15px;
        height: 245px;

        i {
            font-size: 230px;
            margin-right: 30px;
            float: left;
        }
    }
}

#social {
    background: linear-gradient(to bottom, rgba(41, 128, 185, 1) 0%, rgba(241, 196, 15, 1) 100%);

    div {
        display: inline-table;
    }

    button {
        display: inline-block;
        width: 320px;
        padding: 30px;
        margin: 30px;
        transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
        text-decoration: none;
        background: rgba(0, 0, 0, 0.3);
        outline: 0;
        border: solid 1px transparent;
        box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 30px;
        cursor: pointer;

        &:focus {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .first-rowset button:hover {
        transform: scale(1.1);
        text-shadow: none;
        background: rgba(44, 62, 80, 1);
        color: rgba(236, 240, 241, 1);
    }

    .second-rowset button:hover {
        transform: scale(1.1);
        text-shadow: none;
        background: rgba(44, 62, 80, 0.8);
        color: rgba(236, 240, 241, 1);
    }

    .third-rowset button:hover {
        transform: scale(1.1);
        text-shadow: none;
        color: rgba(236, 240, 241, 1);
        background: rgba(44, 62, 80, 0.7);
    }
}

#contact {
    background: linear-gradient(to bottom, rgba(241, 196, 15, 1) 0%, rgba(192, 57, 43, 1) 100%);

    p {
        display: block;
        float: right;
        width: 800px;
        margin-right: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        text-align: left;
        padding: 50px;
        background: rgba(12, 12, 12, 0.1);
        color: rgba(255, 255, 255, 1);
        font-size: 26px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

        a, a:active, a:visited {
            color: rgba(255, 255, 255, 1);
            border-bottom: dotted 1px rgba(255, 255, 255, 0.9);
            text-decoration: none;
        }

        i {
            font-size: 250px;
            margin-right: 40px;
            float: left;
        }
    }
}

footer {
    display: block;
    background-color: rgba(11, 11, 11, 0.4);
    height: @nav_top_height;
    width: 100%;
    z-index: 5000;
    position: absolute;
    bottom: 0px;
}
/*** #PAGE ELEMENTS STYLE END ***/