<!DOCTYPE html>
<html lang="en">
<!-- (= WELCOME TO MY AWESOME SOURCES =) -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.url }}">
    <link rel="alternate" type="application/rss+xml" title="Maslov Ivan Victorovich" href="/feed.xml">

    <!-- styles -->
    <link rel="stylesheet" href="/css/main.css?v=WGaE89omgm">
    <!-- /styles -->

    <!-- favicons -->
    <meta name="apple-mobile-web-app-title" content="Maslov Ivan">
    <meta name="application-name" content="Maslov Ivan">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png?v=WGaE89omgm">
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png?v=WGaE89omgm" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png?v=WGaE89omgm" sizes="16x16">
    <link rel="manifest" href="/images/icons/manifest.json?v=WGaE89omgm">
    <link rel="shortcut icon" href="/images/icons/favicon.ico?v=WGaE89omgm">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=WGaE89omgm">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->
</head>

<body>
    {% include navbar.html %}
    <div class="page-content-container">
        <div class="page-content-container__summary-column">
            <div class="summary" id="summary">
              <p>
                <script>
                  var hdImg = new Image();
                  hdImg.src = '/images/nicely.png';
                  hdImg.addEventListener('load', function () {
                    var avatarImg = document.getElementById('avatar');
                    avatarImg.src = hdImg.src;
                  });
                </script>
                <img id="avatar" src="/images/nicely-min.png" width="436px" height="421px" class="summary__avatar" alt="Ivan Maslov">
                <script>
                  var avatarImg = document.getElementById('avatar');
                  var summaryDiv = document.getElementById('summary');
                  avatarImg.style.height = ((summaryDiv.offsetWidth - 64) * (421 / 436)) + 'px';
                </script>
              </p>
              <p class="summary__accent">
                <strong>Ivan Maslov</strong>, 26 years<br>
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> Saint-Petersburg
              </p>
              <hr class="summary__horizontal-line">
              <p>
                Knows how to make your website faster.
              </p>
              <hr class="summary__horizontal-line">
              <p>
                Web development, consulting, budget planning assistance, architecture assistance, high-load e-commerce.</p>
              {% unless page.url == '/resume/' %}
              <p class="summary__accent">
                <a class="summary__accent__button" href="/resume/" role="button">
                  Learn more
                </a>
              </p>
              {% endunless %}
            </div>
        </div>
        <div class="page-content-container__content-column">
          {{ content }}
        </div>
    </div>

    {% if jekyll.environment == "production" %}   
      {% include metrika.html %}   
    {% endif %}

    <!-- common scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();  // initialize the tooltips
        });
    </script>
    <script type="text/javascript" src="/scripts/prism.js?v=WGaE89omgm"></script>
    <!-- /common scripts -->

    <!-- common styles -->
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" 
        integrity="sha256-y4TDcAD4/j5o4keZvggf698Cr9Oc7JZ+gGMax23qmVA=" crossorigin="anonymous">
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"  
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- /common styles -->
</body>
