<!DOCTYPE html>
<html lang="en">
<!-- (= WELCOME TO MY AWESOME SOURCES =) -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.url }}">
    <link rel="alternate" type="application/rss+xml" title="Maslov Ivan Victorovich" href="/feed.xml">

    <!-- styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <!-- /styles -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Maslov Ivan">
    <meta name="application-name" content="Maslov Ivan">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->
</head>

<body>
    {% include navbar.html %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="jumbotron">
                  <p>
                    <img src="/images/ekb.jpeg" class="img-rounded" alt="Yekaterinburg">
                  </p>
                  <p class="lead">
                  <strong>Ivan Maslov</strong>, 24 years<br>
                  <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Russia, Izhevsk
                  </p>
                  <hr class="m-y-2">
                  <p>Worked on many projects and used different technologies such as <a href="https://angularjs.org/" target="_blank" rel="nofollow">angular</a>, <a href="https://www.mongodb.com/" target="_blank" rel="nofollow">mongo</a>, <a href="https://www.djangoproject.com/" target="_blank" rel="nofollow">django</a>, <a href="https://www.docker.com/" target="_blank" rel="nofollow">docker</a>, <a href="https://secure.php.net/" target="_blank" rel="nofollow">php</a> and so on.</p>
                  <hr class="m-y-2">
                  <p>Mac OS with <a href="https://git-scm.com/" target="_blank" rel="nofollow">git</a>, <a href="https://www.sublimetext.com/" target="_blank" rel="nofollow">sublime</a>, <a href="https://www.jetbrains.com/phpstorm/" target="_blank" rel="nofollow">phpstorm</a>, <a href="https://www.jetbrains.com/pycharm/" target="_blank" rel="nofollow">pycharm</a>, <a href="http://brew.sh/" target="_blank" rel="nofollow">homebrew</a> and <a href="https://www.iterm2.com/" target="_blank" rel="nofollow">iterm</a> is using for developing.</p>
                  {% unless page.url == '/about/' %}
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more</a>
                  </p>
                  {% endunless %}
                </div>
            </div>
            <div class="col-lg-9">{{ content }}</div>
        </div>
    </div>

    {% if jekyll.environment == "production" %}
       {% include metrika.html %}
    {% endif %}

    <!-- common scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" 
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" 
        integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" 
        integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();  // initialize tooltip 
        });
    </script>
    <script type="text/javascript" src="/scripts/prism.js"></script>
    <!-- /common scripts -->

    <!-- common styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" 
        integrity="sha256-y4TDcAD4/j5o4keZvggf698Cr9Oc7JZ+gGMax23qmVA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"  
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- /common styles -->
</body>
